.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 639px;
}

.u-section-1 .u-gallery-1 {
  height: 364px;
  grid-gap: 17px 17px;
  margin-top: 105px;
  margin-bottom: 60px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 0px 0px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-1 .u-gallery-1 {
    height: 300px;
    grid-template-columns: auto auto auto;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-1 .u-gallery-1 {
    height: 689px;
    grid-template-columns: auto auto;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1784px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1550px;
    grid-template-columns: auto;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1210px;
  }

  .u-section-1 .u-gallery-1 {
    height: 976px;
  }
}