.u-section-1 .u-sheet-1 {
  min-height: 631px;
}

.u-section-1 .u-text-1 {
  margin: 82px 184px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  font-style: normal;
  text-decoration: underline !important;
  width: 773px;
  margin: 26px auto 60px;
}

.u-section-1 .u-btn-1 {
  font-style: italic;
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 773px;
    margin-left: 84px;
    margin-right: 84px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 84px;
    margin-right: 84px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: auto;
    margin-left: auto;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}